[submodule "external/sds"]
	path = external/sds
	url = https://github.com/antirez/sds.git
[submodule "external/easy-args"]
	path = external/easy-args
	url = https://github.com/gouwsxander/easy-args.git
